<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" xsi:type="NLogConfiguration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="${basedir}\_logs\nlog.log"
	internalLogLevel="Warn"
	throwConfigExceptions="true"
	throwExceptions="false">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<variable xsi:type="NLogVariable" name="longDate" value="${longdate:universalTime=true}" />
	<variable xsi:type="NLogVariable" name ="basicLayout" value="${longDate} ## ${level:uppercase=true} ## ${logger} Line: ${callsite-linenumber}"/>
	<variable xsi:type="NLogVariable" name="correlationIdLayout" value="${when:when=length('${aspnet-TraceIdentifier:ignoreActivityId=true}') > 0:## CorrelationId\: ${aspnet-TraceIdentifier:ignoreActivityId=true}}" />
	<variable xsi:type="NLogVariable" name="exceptionLayout" value="${when:when=length('${exception}') > 0:## Exception\: ${exception:format=@:innerFormat=@:maxInnerExceptionLevel=10}}" />

	<targets>
		<target xsi:type="File"
				name="FileTarget"
				archiveFileName="${basedir}\_logs\archived\{#}-all.log"
				archiveDateFormat="yyyy.MM.dd"
				fileName="${basedir}\_logs\all.log">
			<archiveEvery>Day</archiveEvery>
			<archiveFileKind>Absolute</archiveFileKind>
			<archiveNumbering>Date</archiveNumbering>
			<layout xsi:type="CompoundLayout">
				<layout xsi:type="SimpleLayout" text="${basicLayout} ${correlationIdLayout} " />

				<layout xsi:type="JsonLayout">
					<attribute name="message" layout="${message}" />
				</layout>

				<layout xsi:type="SimpleLayout" text=" ${exceptionLayout}${newline}" />
			</layout>
		</target>

		<target xsi:type="ColoredConsole" name="ColoredConsoleTarget">
			<layout xsi:type="CompoundLayout">
				<layout xsi:type="SimpleLayout" text="${basicLayout} ${correlationIdLayout} " />

				<layout xsi:type="JsonLayout">
					<attribute name="message" layout="${message}" />
				</layout>

				<layout xsi:type="SimpleLayout" text=" ${exceptionLayout}${newline}" />
			</layout>
		</target>

		<target xsi:type="ElasticSearch"
				name="ElasticTarget"
				index="Template"
				uri="http://localhost:9200">
			<layout xsi:type="CompoundLayout">
				<layout xsi:type="SimpleLayout" text="${basicLayout} ${correlationIdLayout} " />

				<layout xsi:type="JsonLayout">
					<attribute name="message" layout="${message}" />
				</layout>

				<layout xsi:type="SimpleLayout" text=" ${exceptionLayout}${newline}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger ruleName="Writing everything in FileTarget" name="*" minlevel="Trace" writeTo="ElasticTarget" />
		<logger ruleName="Writing everything in FileTarget" name="*" minlevel="Trace" writeTo="FileTarget" />
		<logger ruleName="Writing everything in ColoredConsoleTarget" name="*" minlevel="Warn" writeTo="ColoredConsoleTarget" />
	</rules>
</nlog>